<h4>
  Listado de Instituciones
  <%= link_to "<i class='material-icons add'></i>".html_safe, new_institute_path, class: 'btn-floating btn-large waves-effect waves-light green accent-4 right' %>
</h4>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= institute.code %></td>
        <td><%= institute.name %></td>
        <td>
          <%= link_to "<i class='material-icons search'></i>".html_safe, institute , class: 'btn btn-floating blue'%>
        </td>
        <td>
          <%= link_to "<i class='material-icons create'></i>".html_safe, edit_institute_path(institute), class: 'btn btn-floating yellow accent-4' %>
        </td>
        <td>
          <%= link_to "<i class='material-icons delete'></i>".html_safe, institute, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-floating red' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
