<p>
  <strong>Code:</strong>
  <%= @type_resource.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @type_resource.name %>
</p>

<p>
  <strong>Pedagogic:</strong>
  <%= @type_resource.pedagogic %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @type_resource.movil %>
</p>

<%= link_to 'Edit', edit_type_resource_path(@type_resource) %> |
<%= link_to 'Regresar', type_resources_path %>
