<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code, 'Código' %><br>
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :observations, 'Observaciones' %><br>
    <%= f.text_field :observations %>
  </div>
  <div class="field">
    <%= f.label :date_start, 'Fecha de Inicio' %><br>
    <%= f.date_field :date_start, class: "datepicker", required: true%>
    <%= f.time_field :date_start, class: "timepicker", required: true%>
  </div>
  <div class="field">
    <%= f.label :date_end, 'Fecha de Culminación' %><br>
    <%= f.date_field :date_end, class: "datepicker", required: true%>
    <%= f.time_field :date_end, class: "timepicker", required: true%>
  </div>
  <div class="input-field">
    <%= link_to 'Back', events_path, class: 'btn blue lighten-3 left' %>
    <%= f.submit('Agregar', class: 'right btn blue') %>
  </div>
  <div class="clearfix"></div>
<% end %>
