<h4>   <%= @area.name %>  </h4>

<p>
  <strong>Abreviatura:</strong>
  <%= @area.code %>
</p>


<p>
  <strong>Instituto al que pertenece:</strong>
  <%= @area.institute.name %>
</p>

<p>
  <strong>Reservable:</strong>
  <% if @area.reservable %>
      Si
  <% else %>
      No
  <% end %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @area.status_humanize %>
</p>

<p>
    <%= link_to 'Regresar', areas_path, class: 'btn blue lighten-3 left' %>
    <%= link_to 'Edición', edit_area_path(@area), class: 'right btn blue' %>
</p>

<br> <br> <br>
<h5> Recursos(s) asociados </h5>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Movilidad</th>
      <th>Tipo</th>
    </tr>
  </thead>

  <tbody>
    <% @area.resources.each do |resource| %>
      <tr>
        <td><%= resource.code %></td>
        <td><%= link_to resource.name , resource_path%></td>
        <td><%= resource.status_humanize %></td>
        <% if resource.movil %>
          <td>Móvil</td>
        <% else %>
          <td>Fijo</td>
        <% end %>
        <% if resource.pedagogic%>
          <td>Pedagógico</td>
        <% else %>
          <td>Tecnológico</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="clearfix"></div>
