<%= month_calendar events: @events  do |date, meetings| %>
  <%= date.strftime("%e") %>
  <%= link_to "<i class='material-icons add very-small'></i>".html_safe, root_path %>
  <% meetings.each do |meeting| %>
    <%= content_tag :div, class: "new-event", data: {date: date} do %>
      <div class="col s12 m10 offset-m1 center chip light-green lighten-3">
        <%= link_to truncate(meeting.description, length: 15), meeting %>
      </div>
    <% end %>
  <% end %>
  <% @events.each do |e| %>
    <% if (e.end_time.to_date >= date.to_date) && (e.start_time.to_date < date.to_date) %>
      <div class="col s12 m10 offset-m1 center chip light-green lighten-3">
        <%= link_to truncate(e.description, length: 15), e  %>
      </div>
    <% end %>
  <% end %>
  <% @activities.each do |e| %>
    <% if (e.end_time.to_date >= date.to_date) && (e.start_time.to_date <= date.to_date) %>
      <div class="col s12 m10 offset-m1 center chip deep-orange lighten-3">
        <%= link_to truncate(e.description, length: 15), e  %>
      </div>
    <% end %>
  <% end %>
<% end %>
