<p id="notice"><%= notice %></p>

<h4>
  Listado de Recursos
  <%= link_to "<i class='material-icons add'></i>".html_safe, new_resource_path, class: 'btn-floating btn-large waves-effect waves-light green accent-4 right' %>
</h4>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Description</th>
      <th>Capacidad</th>
      <th>Pertene al Recurso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.code %></td>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
        <td><%= resource.capacity %></td>
        <td><%= link_to  resource.resource.code.to_s+' '+resource.resource.name.to_s, resource.resource if resource.resource.present? %></td>
        <td>
          <%= link_to "<i class='material-icons search'></i>".html_safe, resource , class: 'btn btn-floating blue'%>
        </td>
        <td>
          <%= link_to "<i class='material-icons create'></i>".html_safe, edit_resource_path(resource), class: 'btn btn-floating yellow accent-4' %>
        </td>
        <td>
          <%= link_to "<i class='material-icons delete'></i>".html_safe, resource, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-floating red' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
