<h4>Listing Users</h4>

<table>
  <thead>
    <tr>
      <th>username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', usuario_path(user) %></td>
        <td><%= link_to 'Edición', edit_usuario_path(user) %></td>
        <td><%= link_to 'Destroy', usuario_path(user), method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_usuario_path %>
