
<h4>Ver Actividad</h4>

<p>
  <strong>Descripción:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @activity.day %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @activity.time_start %>
  |
  <%= @activity.time_end %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @activity.event.description if @activity.event.present? %>
</p>
<p>
    <%= link_to 'Back', (:back or activities_path), class: 'btn blue lighten-3 left' %>
    <%= link_to 'Edición', edit_activity_path(@activity), class: 'right btn blue' %>
</p>
<div class="clearfix"></div>
