<p id="notice"><%= notice %></p>

<p>
  <strong>C贸digo:</strong>
  <%= @activity.code %>
</p>

<p>
  <strong>Descripci贸n:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Fecha de Inicio:</strong>
  <%= @activity.date_start %>
</p>

<p>
  <strong>Fecha de Culminaci贸n:</strong>
  <%= @activity.date_end %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @activity.event.description if @activity.event.present? %>
</p>
<p>
    <%= link_to 'Back', activities_path, class: 'btn blue lighten-3 left' %>
    <%= link_to 'Edici贸n', edit_activity_path(@activity), class: 'right btn blue' %>
</p>
<div class="clearfix"></div>
